<article>
  <h2><%=post.title %></h2>
  <address class="author"><%=post.author %></address>
  <img src="<%=post.images %>" class="afmeting"/>
  <div class="more_info"><a href="/portfolio/<%=index %>">MORE INFO --> </a></div>
</article>
