<%- include("header"); -%>

<img src="images/museum.jpg" alt="">
 <div class="contact">
  <h1>CONTACT</h1>
   </div>


<div class="frame">
<section class="contact_frame_one">

        <p>Plan your visit <br>
        <p>Address and route
        Ellermanstraat 33
        2060 Antwerpen
       <a href="#"> Plan route via Google Maps  ›</a></p>
 </section>

<section class="contact_frame_two">

        <p>Visitor information <br>
        <p>The museum is open from 11 am to 6 pm from Monday to Sunday.
        <a href="#">Check out opening hours and prices ›</a></p>
</section>
</div>

<%- include("footer"); -%>
