<footer>
 <div class="bottom_nav">
  <ul>
     <li><a href="#">ABOUT MMA</a></li>
     <li><a href="#">OPENING HOURS</a></li>
     <li><a href="#">VIEW MAP</a></li>
     <li><a href="#">CONTACT</a></li>
     <li><a href="#">website</a></li>
  </ul>
 </div>
 <div class="white_line"></div>
 <div class="heroku_link"><a href="#">https://cryptic-journey-54019.herokuapp.com/</a></div>
</footer>


	<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>

</body>
</html>
