<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Museum_app</title>
  	<link rel="stylesheet" type="text/css" href="reset_plus.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/scripts.js" defer></script>
  </head>
  <body>
    <%- include("nav"); -%>
