<%- include("header"); -%>

<div class="welcome">
    <h2>Museum for modern ART</h2>
    <!-- <h2><span>Museum will be closed untill 1st of may</span><h2> -->
    <h1>WELCOME </h1>
</div>

<section class= "buttons">
  <button class="button_1" type="button" name="buy tickets">BUY TICKETS</button>
  <button class="button_2" type="button" name="sign up"> EXPLORE NOW</button>
</section>
<!-- scroll down line -->



 <main>

<div class="grid_1">
 <section class="sectie_one">
  <div class="info lax" data-lax-preset=" fadeInOut">
    <div class="circle"></div>
     <img src="https://images-na.ssl-images-amazon.com/images/I/71JJYn8ibLL._SX569_.jpg" alt="" />
  </div>
 </section>

 <h2 class="scroll_down lax"data-lax-preset=" fadeInOut">Scroll down</h2>
  <div class="line lax"data-lax-preset=" fadeInOut"></div>

 <section class="sectie_two">
  <div class="intro lax"data-lax-translate-y="400 50,1000 -250">
     <span>Exhibition</span>
      <span>Constructivism</span>
       <h3>Vladimir Tatlin and some of his colleagues, such as Lev Bruni, Ivan Kliun, and Ivan Puni, influenced by Pablo Picasso’s Cubist sculptures, began to make abstract, nonutilitarian constructions in Russia in the years just before the 1917 revolution.This aesthetic, allied with a geometric vocabulary based on Kazimir Malevich’s Suprematism, developed into a rational, materialist, utilitarian approach to socially committed art, led by Tatlin and Aleksandr Rodchenko. After the revolution many Constructivist artists were placed in important pedagogical and administrative positions, where they advocated a culture based on new principles in art, design, typography, and architecture. In attempting to link art with industry, technology, and the ideals of a classless society through the production of socially useful objects, they developed the notion of the artist-as-engineer. The First Constructivist Art Exhibition was held in Moscow in 1921. </h3>
       <h4>Now until 21st of november 2020 <br>
       Virtual tour</h4>
    </div>
   </section>
</div>

<div class="grid_2">
   <div class="first_element"><h2>Join our community</h2></div>
    <div class="second_element"><img src="/images/musea.jpg" alt=""></div>
 </div>

</main>

<%- include("footer"); -%>
