<%- include("header"); -%>

<div class="container">
    <h2>Museum for modern ART</h2>
    <!-- <h2><span>Museum will be closed untill 1st of may</span><h2> -->
    <h1>WELCOME </h1>

</div>

<section class= "buttons">
  <button class="button_1" type="button" name="buy tickets">BUY TICKETS</button>
  <button class="button_2" type="button" name="sign up">SIGN UP</button>
</section>
<div class="info">
  <div class="circle"></div>
  <img src="https://images-na.ssl-images-amazon.com/images/I/71JJYn8ibLL._SX569_.jpg" alt=""/>
</div>

<%- include("footer"); -%>
