<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Now in the museum</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/contact"><img class="search"src="images/search.png" alt=""></a></li>
    <img class="search_box "src="" alt="">
  </ul>
</nav>
